    {{ partial "sponsors.html" . }}
    
    <hr>
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <ul class="list-inline text-center">
                    <li>
                      <a href="https://telegram.me/DevOpsDaysBrasilia2016" title="Canal Telegram do evento">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-question-circle-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    <li>
                      <a href="mailto:{{ .Site.Params.email }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-envelope-o fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ range .Site.Params.social }}
                    <li>
                      <a href="{{ .url }}" title="{{ .description }}">
                        <span class="fa-stack fa-lg">
                          <i class="fa fa-circle fa-stack-2x"></i>
                          <i class="fa fa-{{ .title }} fa-stack-1x fa-inverse"></i>
                        </span>
                      </a>
                    </li>
                    {{ end }}
                  </ul>
                  <p class="copyright text-muted">{{ .Site.Copyright }}</p>

                  <p class="copyright text-muted">
                    Todo o conteúdo deste site está publicado sob a Licença
                      <a href="http://creativecommons.org/licenses/by/3.0/br/" title="Creative Commons Atribuição 3.0" target="_blank">
                        Creative Commons Atribuição 3.0 Brasil (CC BY 3.0 BR)</a> exceto quando especificado em contrário.<br />
                      <a href="/about/privacidade/" title="Política de privacidade">Política de privacidade</a>
                      <!--
                      | <a href="" title="Termos de Uso">Termos de Uso</a>
                      -->
                  </p>

                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="{{ .Site.BaseURL }}/js/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ .Site.BaseURL }}/js/clean-blog.js"></script>

    {{ if isset .Site.Params "Ganalytics" }}{{ partial "ga.html" . }}{{ end }}

</body>

</html>
