<!-- sponsors -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Patrocínio</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-4 col-md-4">
                <div class="panel"><div class="panel-heading gold">Gold</div></div>
                <a href="http://www.rancher.com/" target="_blank">
                  <img alt="Rancher Labs" title="Rancher Labs"
                      src="/img/sponsors/2016-rancher.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                </a>
                <a href="http://www.puppet.com/" target="_blank">
                  <img alt="Puppet" title="Puppet"
                      src="/img/sponsors/2016-puppet.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                </a>
            </div>
            <div class="col-lg-4 col-md-4">
                <div class="panel"><div class="panel-heading silver">Silver</div></div>
                <a href="http://www.gitlab.com/" target="_blank">
                  <img alt="GitLab Inc." title="GitLab Inc."
                      src="/img/sponsors/2016-gitlab.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                </a>
                <a href="http://www.redhat.com/" target="_blank">
                  <img alt="Red Hat, Inc" title="Red Hat, Inc"
                      src="/img/sponsors/redhat.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                </a>
            </div>
          </div>

          <a class="btn btn-link" href="/about/sponsor/">
            &nbsp;Seja Patrocinador!&nbsp;
          </a>
          <div class="progress">
            <!-- progress-bar: danger<40; 40<warning<95 success>95% -->
            <div
              role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"
              class="progress-bar progress-bar-success"
              style="width: 100%;"> 100%
            </div>
          </div>

          <hr />
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-heading">Apoio e Realização</div>
            </div>

            <div class="col-lg-6 col-md-4">
                <div class="panel panel-success">
                  <div class="panel-heading">Apoio</div></div>
                <a href="http://instruct.com.br/" target="_blank">
                  <img alt="Instruct - Infraestrutura Ágil" title="Instruct - Infraestrutura Ágil"
                      src="/img/sponsors/2016-instruct.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                </a>
                <a href="http://www.stickergiant.com" target="_blank">
                  <img alt="StickerGiant.com Inc." title="StickerGiant.com Inc."
                      src="/img/sponsors/2016-stickergiant.png" class="img-responsive img-rounded company-logo" height="100px" width="100px">
                </a>
            </div>

            <div class="col-lg-6 col-md-6">
                  <div class="panel">
                    <div class="panel-heading">Comunidades</div></div>
                  <a href="http://telegram.me/puppetbr" target="_blank">
                    <img alt="Puppet-BR community users" title="Puppet-BR community users"
                          src="/img/sponsors/2016-puppetbr.png" class="img-responsive img-rounded company-logo" height="100px" width="100px"></a>
                  <a href="http://telegram.me/dockerbr" target="_blank">
                    <img alt="Docker-BR community users" title="Docker-BR community users"
                          src="/img/sponsors/2016-dockerbr.png" class="img-responsive img-rounded company-logo" height="100px" width="100px"></a>
                  <a href="http://telegram.me/devopsbr" target="_blank">
                    <img alt="DevOps-BR community users" title="DevOps-BR community users"
                          src="/img/sponsors/2016-devopsbr.png" class="img-responsive img-rounded company-logo" height="100px" width="100px"></a>
            </div>

            <div class="col-lg-12 col-md-12">
              <div class="panel">
                <div class="panel-heading">Realização</div>
                </div>
                <img alt="DevOpsDays Brasília" title="DevOpsDays Brasília Local Team"
                src="/img/logo.png" class="img-responsive img-rounded company-logo" height="75%" width="75%"  />
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div> <!-- end sponsors-->
